* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 20px;
}

main {
  flex-basis: 1067px;
}

h1 {
  color: #1F1F1F;
  font-size: 117px;
  font-weight: bold;
  line-height: 104px;
}

span {
  background-image: linear-gradient(transparent 50%, #00FBFF 50%);
  cursor: pointer;
  transition: background-image 1s;
  transition-behavior: allow-discrete;
}

span:hover {
  background-image: linear-gradient(transparent 25%, #00FBFF 25%);
}

